.content {
  > table {
    border-collapse: collapse;
    white-space: nowrap;
    width: 100%;
    padding: 7.5px;

    th, td {
      padding: 7.5px;
      border: 2.5px solid #595959;
    }

    thead {
      background-color: #888888;
    }

    tr:nth-child(2n) {
      background-color: #cbcbcb;
    }
  }
}
