* {
     box-sizing: border-box;
 }

 .admin-table {
     border-collapse: collapse;
 }

.table-body tr:nth-child(even) {
     background-color: #f2f2f2;
}

#headerID {
     min-width: 100px;
}

#headerName {
     min-width: 200px;
}

#headerEmail {
     min-width: 250px;
}

#headerPFP {
     min-width: 100px;
}

#headerDepartment {
     min-width: 100px;
}

#headerTags {
     min-width: 150px;
}

#headerHours {
     min-width: 50px;
}