* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-size: unquote("min(100vw, 40em)");
}

html {
    font-size: calc(100% + 0.5vw);
}

.initiative-details {
    background: #fff;
    padding: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    width: 100%;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-bottom: 60px;
    position: relative;
}

.input-group-label {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    color: #ccd;
    color: #b66868;
    position: absolute;
    left: 3em;
    top: -0.28em;
    background: #fff;
}

.input-group-input {
    color: #5b5b5bff;
    font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    height: calc(1em + 1.6em + 0.5em);
    width: 100%;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(120deg, #fff 0%, #cc0000ff 50%, #fff 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;
}

.input-group-input:hover {
    background-position: 100% 0;
}

.input-group-input:focus {
    outline: 2px dashed #ad2b89;
    outline-offset: 0.5em;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #bf7a6b;
}

.form {
    width: 400px;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
}

.file-upload-wrapper::after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}