* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}
main {
  padding: 20px;
}
#homeHeader {
  background-color: #ccc; /* Set the background color to grey */
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#homeHeader .leftHomeHeader {
  height: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#homeHeader .leftHomeHeader h1 {
  font-size: 48px;
  margin-bottom: 25px;
  color: #f00;
}
#homeHeader .leftHomeHeader h2 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #f00;
}
#homeHeader img {
  width: 280px;
  height: 200px;
  margin-bottom: 10px;
}
#homeHeader .rightHomeHeader {
  height: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-bottom: 30px;
  color: #f00;
  font-weight: bold;
  line-height: 2.5;
}
#homeContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
#homeContent button {
  background-color: #f00;
  border: 1px solid #f00;
  color: #fff;
  border-width: 3px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
#homeContent button:hover {
  background-color: #fff;
  color: #f00;
  border-color: #f00;
  border-style: solid;
  border-width: 3px;
}
#homeContent p {
  font-family: Arial;
  font-size: 14pt;
  font-weight: 400;
  vertical-align: baseline;
  text-align: left;
  line-height: 1.5;
  margin: 15px;
  color: #b00000;
}
#homeContent .block {
  align-items: center;
  justify-content: center;
  max-width: auto;
  background-color: #cfcfcf;
  border-radius: 50px;
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

#homeContent .block .block-left {
  flex: 1;
  padding-right: 10px;
  border-right: 1px solid #333;
}

#homeContent .block .block-right {
  flex: 1;
  padding-left: 10px;
  border-left: 1px solid #333;
}

#homeContent .block-text {
  font-size: 20px;
  line-height: 1.5;
  margin: 15px;
  text-align: justify;
}

#homeContent .block-text-left {
  font-size: 20px;
  line-height: 1;
  text-align: center;
}

#homeContent .block-title {
  line-height: 1.5;
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: #b00000;
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .block {
      flex-direction: column;
      align-items: stretch;
  }

  .block .block-left, .block .block-right {
      flex: none;
      padding: 10px 0;
      border: none;
  }

  .block .block-left {
      border-bottom: 1px solid #333;
  }
}

#robots {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
#robots .robot-scroll-container {
  display: flex;
  overflow-x: auto !important;
}
#robots h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #f00;
}
#robots .robot-card {
  margin-bottom: 30px;
  min-height: 300px;
  min-width: 300px;
  margin-right: 5px;
}
#robots .robot-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
#robots .robot-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f00;
}
#robots .robot-card p {
  font-size: 18px;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
#projects .project {
  width: 45%;
  margin-bottom: 30px;
}
#projects .project img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
#projects .project h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f00;
}
#projects .project p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .homeContent .member, .projects .project {
      width: 100%;
 }
}
#WiF {
  padding: 50px 0;
}
#WiF .WiF {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #800000;
  border-bottom: 1px solid #c00 ff;
}
#WiF .row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: auto;
  background-color: #cfcfcf;
  border-radius: 50px;
  padding: 20px;
}
#WiF .col-md-6 {
  padding: 0 15px;
}
#WiF .title {
  font-size: 30px;
  max-width: auto;
  color: #b00000;
  font-weight: 750;
  text-decoration: underline;
}
#WiF .description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: justify;
  color: #b00000;
  font-size: 16px;
  max-width: auto;
}
#events {
  margin-top: -40px;
}
#events ul {
  list-style: none;
  font-size: 18px;
  margin-left: 20px;
}
#events ul li {
  margin-bottom: 10px;
}
#events h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #f00;
}
footer {
  margin-top: 30px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}