$menu-bar-pad: 8px;
$menu-bar-height: 4px;
$menu-bar-side-pad: 15px;

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  --header-height: 70px;
  display: grid;
  grid-template: [header-top] "header header" var(--header-height)
    [header-bottom] "sidebar container" auto [page-bottom] /
    70px auto;
  overflow-x: hidden;

  @media only screen {
    @media (max-height: 550px) {
      --header-height: 60px;
    }

    @media (max-width: 700px),
    only screen and (hover: none),
    only screen and (pointer: coarse) {
      grid-template: [header-top] "header header" var(--header-height)
        [header-bottom] "container container" auto [page-bottom] /
        70px auto;
    }
  }
}

/* ----- Headers and sidebars ----- */

.sidebar {
  grid-area: sidebar;
  background-color: red;

  @media only screen and (max-width: 700px),
  only screen and (hover: none),
  only screen and (pointer: coarse) {
    position: absolute;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in;

    &.open {
      opacity: 0.8;
      pointer-events: all;
      transition: opacity 200ms ease-out;
    }
  }
}

.header {
  grid-area: header;
  background-color: black;
  color: white;
  display: flex;
}

.menu-bars {
  display: none;
  opacity: 0;
  pointer-events: none;

  @media only screen and (max-width: 700px),
  only screen and (hover: none),
  only screen and (pointer: coarse) {
    display: block;
    flex: 0 0 var(--header-height);
    padding: 0 $menu-bar-side-pad;
    box-sizing: border-box;
    background-color: red;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: $menu-bar-pad;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
  }

  div {
    width: calc(var(--header-height) - 2*$menu-bar-side-pad);
    height: $menu-bar-height;
    background-color: white;
    pointer-events: none;
    transition: width 200ms ease-out, transform 300ms ease-out;
  }

  &.open > :first-child, &.open > :last-child {
    width: 0;
  }

  .menu-bar-middle {
    background-color: transparent;
  }

  .menu-bar-middle div {
    position: absolute;
    transform-origin: center;
  }

  &.open .menu-bar-middle div {
    &:first-child {
      transform: rotate(45deg) scaleX(1.4);
    }
    &:last-child {
      transform: rotate(-45deg) scaleX(1.4);
    }
  }
}

.header-pad-left {
  flex: 1 1 0px;
}

.header-container {
   display: flex;
   flex: 0 0 350px;
   align-items: center;
   font-size: 30px;
   font-family: Oswald;
   text-align: center;
   line-height: 30px;
   justify-content: center;

   img {
    height: calc(var(--header-height) - 20px);
    display: block;
    margin-right: 10px;
   }

  @media only screen and (max-width: 450px) {
    font-size: 24px;
    flex: 0 0 300px;
  }
}

.header-pad-right {
  flex: 1 1 0px;
}
/* ----- Content Frame ----- */

.container {
  grid-area: container;
  background-color: white;
  padding: 40px 60px;

  @media only screen and (max-width: 925px) {
    padding: 0;
  }
}

.content {
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-color: gray;

  @media only screen {
    @media (max-width: 1450px) and (min-width: 1101px) {
      width: 900px;
    }

    @media (max-width: 1100px) and (min-width: 901px) {
      width: 700px;
    }

    @media (max-width: 900px) {
      width: 100%;
    }
  }
}