<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="./style/about-us.css">
<script defer src="https://accounts.google.com/gsi/client"></script>
<script defer src="./scripts/google-sign-in.js"></script>
<script defer src="./static/test-js.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<head>
  {% include "global-headers.html" %}
	<title>About Us</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% set page = "about-us" %}
    {% include "menu.html" %}
  <div class="title">
    <h1>About Us</h1>
    <div class="section">
      <h2 class="section-title">Leadership</h2>
      <div class="section-content">
        <p>Meet the leaders of our organization:</p>
        <p>Shilvi - Pres</p>
        <p>Nishaant - Tech VP</p>
        <p>Miras Da - BVP</p>
      </div>
    </div>
    <div class="section">
      <h2 class="section-title">Departments</h2>
      <div class="section-content">
        <p>The 2022-2023 RoboRaiders FRC team consists of over 150 studulents working in departments on either our Business or Technical divisions</p>
        <p>Programming</p>
        <p>PR</p>
        <p>Documentation</p>
      </div>
    </div>
    <div class="section">
      <h2 class="section-title">Mentors</h2>
      <div class="section-content">
        <p>The amazing mentors below volunteer thousands of hours to Team 75. Their selfless dedication has been a huge factor in our success and without them, the team would not exist. Team 75 thanks our excellent mentors, as well as anyone who volunteers their time to FIRST.</p>
        <h3>Lead Mentors / Faculty</h3>
        <p>David Blackburn - Lead Mentor</p>
        <p>Todd MacDonald - Faculty Advisor</p>
        <h3>Mentors</h3>
        <p>Peter Cridge - Mechanical and Carpentry</p>
        <p>Mishti Das - FIRST Impact</p>
        <p>John Hardenbergh - Strategy</p>
        <p>Bill Hoffman - Programming</p>
      </div>
    </div>
    <div class="section">
      <h2 class="section-title">Part 75</h2>
      <div class="section-content">
        <p>A nonprofit 501(c)(3) organization to promote math, science, and technology to middle school and high-school-aged students through participation in the FIRST Foundation Robotics (www.usfirst.org) competitions, successors and related activities. </p>
        <h3>Parent Group and Part 75 Officers</h3>
        <p>Jen Hoffman</p>
        <p>Kevin Kalenty</p>
        <p>Valerie Robuck</p>
        <p>Jerald Wirzman</p>
      </div>
    </div>
    <div class="section">
      <h2 class="section-title">Credo</h2>
      <div class="section-content">
        <p>SCTER:</p>
        <p>Spreading the Word</p>
        <p>Commitment</p>
        <p>Team</p>
        <p>Elevating Standards</p>
        <p>Results</p>
      </div>
    </div>
  </div>
</body>
</html>
