{% extends "menu.html" %}
{% block title %}
Initiatives
{% endblock title %}

{% block content %}
<div id="initOverlay">
    <section id="initHeader">
      <h1>Our Initiatives</h1>
    </section>
    <section id="initContent">
        <div class="block">
            <p class="name">BoroBlast</p>
            <p class="description">BoroBlast is an annual state-level qualifier for the FLL hosted by Team 75, RoboRaiders. It was created in the year 2007 and typically includes around 24 teams. In this competition, FLL, Junior FLL, and FTC teams participate in a variety of different Robotics and STEM-related events that challenge them to think innovatively and come up with a solution that satisfies all aspects of the problem presented to them.</p>
            <img class="image" src="https://lh5.googleusercontent.com/l6qJPZjZ6wHXa_ZjiE-gzoHHsXZaKBGOHfEXCSFTuTu_pw90ZJUz2_fpN3uS6jt_Vi1YUM7wm398PAcbUDkbc3W3ShVJd_TchM7ZFbGyVHxnCv5hqU-kWzowUGDU1QFlpA=w1280" alt="image">
            <p class="people">50</p>
            <p class="hours">200</p>
            <p class="leads"></p>
            <!--<img class="leads-img" src="" alt="leads">-->
        </div>
    </section>
</div>
{% endblock content %}