{% extends "menu.html" %}
{% block title %} Initiatives {% endblock title %}
{% block content %}
<header class="content-header">
  <h1>Our Initiatives</h1>
</header>
<hr>
<!-- <section>
  <div class="image-container">
    <img src="./static/boroblast.jpg">
  </div>
  <div class="info-container">
    <h2>BoroBlast</h2>
    <div class="leads">Leads: Mahati</div>
    <div class="stats">
      <div class="participants"><img src="./static/person-icon.png"><span>50 volunteers</span></div>
      <div class="hours"><img src="./static/clock-icon.png"><span>100 hours</span></div>
    </div>
    <div class="description">
      BoroBlast is an annual state-level qualifier for the FLL hosted by Team 75,
      RoboRaiders. In this competition, FLL, Junior FLL, and FTC teams participate in a variety of different
      Robotics and STEM-related events that challenge them to think innovatively and come up with a solution that
      satisfies all aspects of the problem presented to them.
    </div>
  </div>
</section> -->
{% endblock content %}