{% extends "menu.html" %}
{% block title %} Log Hours {% endblock title %}
{% block content %}
<form>
  <h2>Log Hours</h2>
  <div>
    <label for="initiative">Event</label><br>
    <select id="initiative" required>
      <option value="" disabled selected>Select an Initiative</option>
    </select>
  </div>
  <div class="vary-disabled disabled">
    <input type="checkbox" id="event-leader">
    <label for="event-leader">Preparation time</label>
  </div>
  <div>
    <label for="start-time">Volunteering Start</label><br>
    <input type="datetime-local" id="start-time" required>
  </div>
  <div>
    <label for="start-time">Volunteering End</label><br>
    <input type="datetime-local" id="end-time" required>
  </div>
  <div>
    <button type="submit">Log 'Em!</button>
  </div>
</form>
{% endblock content %}