<!DOCTYPE html>
<html>
  <head>
    {% include "global-headers.html" %}
		<title>Log Hours</title>
		<link rel="stylesheet" href="./style/log.css">
    <script defer src="./scripts/log.js"></script>
  </head>
  <body>
    {% set page = "log" %}
    {% include "menu.html" %}
    <h1>Log Hours</h1>
    <form>
      <div class="form-container">
        <div>
          <label for="initiative-dropdown">Choose the initiative you are entering hours for:</label>
          <select name="initiative" id="initiative-dropdown">
            <option value="kFSHosvJjvdnNDiS">STEM through gaming</option>
            <option value="JklhGskkLShfhJsH">Food Drive</option>
            <option value="fjKshsOVhsneuvGi">RoboSmiles Cards</option>
          </select>
        </div>
        <div>
          <label>Enter outreach time (max 10 hours):</label>
          <br>
          <span><input type="number" name="hours" class="outreach-hours" value="0"> hours</span>
          <br>
          <span><input type="number" name="minutes" class="outreach-hours" value="0"> minutes</span>
        </div>
        <button type="submit" class="submit-hours">Enter hours</button>
      </div>
    </form>
  </body>
</html>
