<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="static/logos/logo_trans.png">

<!-- Load Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

<!-- Load Google OAuth -->
<script src="https://accounts.google.com/gsi/client"></script>

<!-- Webpage Title -->
<title>
{% block title %}
Menu
{% endblock %}
</title>

</head>
<body>
<div class="header">
  <div class="menu-bars">
    <div></div>
    <div class="menu-bar-middle">
      <div></div>
      <div></div>
    </div>
    <div></div>
  </div>
  <div class="header-pad-left"></div>
  <div class="header-container">
    <img src="./static/logos/logo_dark.png" height="100px">
    <div>Team 75 - RoboRaiders</div>
  </div>
  <div class="header-pad-right"></div>
</div>

<div class="container">
<div class="content">
{% block content %}{% endblock %}
</div>
</div>

<div class="sidebar-shadow"></div>
<div class="sidebar">
<div onclick="window.location.href = './home.html';">
  <div class="icon"><img class="dark" src="./static/home-house-icon.png" width="100px"></div>
  <div class="label">Home</div>
</div>
<div onclick="window.location.href = './initiatives.html';">
  <div class="icon"><img class="dark" src="./static/hand-heart-outline-icon.png" width="100px"></div>
  <div class="label">Outreach</div>
</div>
<div>
  <div class="icon"><img class="dark" src="./static/people-team-icon.png" width="100px"></div>
  <div class="label">Edit Members</div>
</div>
<div class="filler"></div>
<div class="sign-in disabled">
  <div class="icon">
    <img src="./static/logos/google-logo.png" width="100px">
  </div>
  <div class="label">Sign In</div>
</div>
</div>
</body>
</html>