{% extends "menu.html" %}
{% block title %} Add Student {% endblock title %}
{% block content %}
<form autocomplete="off">
  <hr>
  <div>
    <input type="text" placeholder="Full Name" required><br>
    <input type="email" placeholder="Email" required><br>
    <select>
      <option value="-" selected>Department NA</option>
      <option value="Documentation">Documentation</option>
      <option value="Finance">Finance</option>
      <option value="Public Relations">Public Relations</option>
      <option value="Carpentry">Carpentry</option>
      <option value="Design">Design</option>
      <option value="Electrical">Electrical</option>
      <option value="Mechanical">Mechanical</option>
      <option value="Programming">Programming</option>
      <option value="Safety">Safety</option>
      <option value="Strategy">Strategy</option>
    </select><br>
    <input type="checkbox" id="new-student-1">
    <label for="new-student-1"> New student</label><br>
    <input type="checkbox" id="mentor-1">
    <label for="mentor-1"> Mentor</label><br>
    <button class="remove-row">Remove student row</button><br>
  </div>
  <button class="add-another-student">Add Another Student</button><br>
  <button type="submit">Push to Database</button>
</form>
{% endblock content %}