{% extends "menu.html" %}
{% block title %} Add Student {% endblock title %}
{% block content %}
<form autocomplete="off">
  <hr>
  <div>
    <input type="text" placeholder="Full Name" required><br>
    <input type="email" placeholder="Email" required><br>
    <select>
      <option value="-" selected>Department NA</option>
      <option value="documentation">Documentation</option>
      <option value="finance">Finance</option>
      <option value="public Relations">Public Relations</option>
      <option value="carpentry">Carpentry</option>
      <option value="design">Design</option>
      <option value="electrical">Electrical</option>
      <option value="mechanical">Mechanical</option>
      <option value="programming">Programming</option>
      <option value="safety">Safety</option>
      <option value="strategy">Strategy</option>
    </select><br>
    <input type="checkbox" id="new-student-1">
    <label for="new-student-1"> New student</label><br>
    <input type="checkbox" id="mentor-1">
    <label for="mentor-1"> Mentor</label><br>
    <button class="remove-row">Remove student row</button><br>
  </div>
  <button class="add-another-student">Add another student</button><br>
  <button type="submit">Authenticate + Submit</button>
</form>
{% endblock content %}