{% extends "menu.html" %}
{% block title %} New Initiative {% endblock title %}
{% block content %}
<form>
  <h2>New Initiative</h2>
  <div>
    <label for="name">Initiative Name</label><br>
    <input type="text" id="name" required>
  </div>
  <div>
    <label for="picture">Initiative Picture URL</label><br>
    <input type="text" id="picture" value="Disabled for now" disabled><br>
    <div class="picture-note">If you really want an initiative picture, please email <a href="mailto:debnathe@htps.us">debnathe@htps.us</a>.</div>
  </div>
  <div>
    <label for="description">Initiative Description</label><br>
    <textarea id="description" required placeholder="Write your description here"></textarea>
  </div>
  <div>
    Categories<br>
    <input type="checkbox" id="Community">
    <label for="Community">Community</label><br>
    <input type="checkbox" id="FIRST">
    <label for="FIRST">FIRST</label><br>
    <input type="checkbox" id="STEM">
    <label for="STEM">STEM</label>
  </div>
  <div class="leads-input">
    <label for="leads">Leads</label><br>
    <select id="leads" required>
      <option value="" disabled selected>Select a Leader</option>
    </select>
    <button class="add">+</button>
  </div>
  <div>
    <button type="submit">Add Initiative</button>
  </div>
</form>
{% endblock content %}