{% extends "menu.html" %}
{% block title %} User Dashboard {% endblock title %}
{% block content %}
<h1>Privacy Policy</h1>
<ul>
  <li>
    When you sign in to this app, we collect your name and email from your google account.
  </li>
  <li>
    When logging in, we ensure that you are an authorized user approved by and whitelisted by Team 75's mentors. If you
    are not, your login attempt will be blocked. Please contact <a href="mailto:debnathe@htps.us">debnathe@htps.us</a>
    to get your email approved.
  </li>
  <li>
    After a successful login, you are assigned a session that automatically expires after 1.5 hours.
  </li>
  <ul>
    <li>Please note that we store a session identifier locally on your computer. This is essential to website functionality to prevent unauthorized individuals from gaining access to this website's functionality.</li>
  </ul>
</ul>
<!-- If you are a mentor:
<ul>
  <li>
    When adding a user, you will have to sign in again,
    as the server needs to access your contacts and get
    another user's name, email address, profile picture,
    and Google Account ID.
  </li>
  <ul><li>
    This will add that user to the database and allow
    them to sign in onto the website.
  </li></ul>
  <ul><li>
    No external user will be able to sign in to the
    website as only mentors are allowed to create new
    accounts for users.
  </li></ul>
</ul> -->
{% endblock content %}