{% extends "menu.html" %}
{% block title %} Admin Dashboard {% endblock title %}
{% block content %}
<table>
  <thead>
    <tr>
      <!-- User ID Hidden -->
      <th>User</th>
      <th>Email</th>
      <th>Department Name</th>
      <th>Initiative Hours</th>
      <!-- <th>Attendance</th> -->
      <th>Tags</th>
    </tr>
  </thead>
  <tbody id="studentData">
    <tr>
      <td>User</td>
      <td>Email</td>
      <td>Department Name</td>
      <td>Initiative Hours</td>
      <td>Tags</td>
    </tr>
    <tr>
      <td>User</td>
      <td>Email</td>
      <td>Department Name</td>
      <td>Initiative Hours</td>
      <td>Tags</td>
    </tr>
  </tbody>
</table>
<script>
  function displayStudent()
  {
    //info to get from database
    let user = "John Doe";
    let email = "johndoe@gmail.com";
    let department = "Prisoners";
    let hours = "0";
    let tags = "disposable, unknown, eyesore";

    let row = document.createElement("tr");
    row.innerHTML += "<td>" + user + "</td>";
    row.innerHTML += "<td>" + email + "</td>";
    row.innerHTML += "<td>" + department + "</td>";
    row.innerHTML += "<td>" + hours + "</td>";
    row.innerHTML += "<td>" + tags + "</td>";
    document.getElementById("studentData").appendChild(row);
  }
  displayStudent();
</script>
{% endblock content %}