{% extends "menu.html" %}
{% block title %} Admin Dashboard {% endblock title %}
{% block content %}
<table>
  <thead>
    <tr>
      <!-- User ID Hidden -->
      <th>User</th>
      <th>Email</th>
      <th>Department Name</th>
      <th>Initiative Hours</th>
      <!-- <th>Attendance</th> -->
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>User</td>
      <td>Email</td>
      <td>Department Name</td>
      <td>Initiative Hours</td>
      <td>Tags</td>
    </tr>
    <tr>
      <td>User</td>
      <td>Email</td>
      <td>Department Name</td>
      <td>Initiative Hours</td>
      <td>Tags</td>
    </tr>
  </tbody>
</table>
{% endblock content %}