{% extends "menu.html" %}
{% block title %} User Dashboard {% endblock title %}
{% block content %}
<div class="user-banner">
  <div></div>
  <a target="blank"></a>
</div>
<div class="hours">
  <div>A member in good standing needs to have <span class="highlight">30 hours</span> of outreach.</div>
  <div><span>You currently have</span> <span class="highlight"></span> logged.</div>
</div>
<div class="logs-container">
  <button>Load Logs Below</button>
  <div class="logs">
  </div>
</div>
{% endblock content %}